<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          Toolbox for Counselling provides biblically grounded guidance and practical resources to help individuals navigate
          life's challenges with faith, grace, and understanding. Rooted in Scripture, its mission is to equip counselors,
          ministry leaders, and those seeking wisdom with tools for healing, restoration, and spiritual growth.
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          Through carefully curated resources, thoughtful insights, and Christ-centered encouragement, Toolbox for
          Counselling fosters meaningful conversations and offers support for those facing personal, emotional, and relational struggles.
          Whether you're a seasoned counselor or simply looking for biblical wisdom, this toolbox is here to empower and strengthen you with truth and compassion.
        </p>
      </div>
      <!--<div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>-->
    </div>
  </div>
</section>
